<section class="blog-banner-area" id="blog">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>My Store</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">{{fullname}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Store</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>	  
    
		<section class="cart_area">
  <div class="container">
    <div class="cart_inner" id="cart-body">
      <div class="table-responsive">
         {{#if products}}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Status</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
           
            <tr id="item{{id}}">
              <td>
                <div class="media">
                  <div class="d-flex">
                    <img src="{{imagepath}}" alt="" height="85" width="75">
                  </div>
                  <div class="media-body">
                    <p>{{name}}</p>
                  </div>
                </div>
              </td>
              <td>
                <h5 id="price{{id}}">{{price}} VNĐ</h5>
              </td>
              <td>
                <div class="product_count">
                  <span>available</span>
                </div>
              </td>
              <style>
                .button-delete {
                  background-color: #0078fd;
                  color: white;
                  padding: 6px 17px;
                  border: none;
                  font-size: 13px;
                  border-radius: 6px;
                }
              </style>
             
              <td>
                <button type="button" class="button-delete" data-id="{{id}}">Delete</button>
              </td>
           
            </tr>
          
            {{/each}}
            {{else}}
            <div class="alert alert-info text-center"> Your store is empty!</div>
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<script>

   const filteredProducts = products.filter(product => product.price === 23490000);

    $(document).on('click', '.button-delete', function(e) {
  e.preventDefault();
  var productId = $(this).data('id');
  $.ajax({
    url: '/delete-product/' + productId,
    method: 'DELETE',
    success: function(response) {
      if (response.success) {
        $('#item' + productId).remove();
      } else {
        alert('Failed to delete product');
      }
    }
  });
});

</script>
		

