<section class="blog-banner-area" id="blog">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>My Store</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">{{fullname}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Store</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>	  
    
    <ul class="list">
                         
						<label for="category">Category : &nbsp; &nbsp; </label>
						<input type="text" name="category" list="category" />
						{{#each categories}}
						<datalist id="category{{id}}">
							<option>{{name}}</option>
						</datalist>
                         {{/each}}
    
						</br>

						<label for="classify">Classify : &nbsp; &nbsp; </label>
						<input type="text" name="brand" list="brand" />
						<datalist id="brand" >
							<option>Mobiles</option>
							<option>Tablets</option>
							<option>Laptops</option>
							<option>Desktops Computers</option>
							<option>Audio</option>
							<option>Cameras & Video</option>
							<option>Monitors</option>

							<option>Skincare</option>
							<option>Make-Up</option>
							<option>Beauty Tools</option>
							<option>Bath & Body</option>
							<option>Deodorants</option>
							<option>Fragrances</option>

							<option>Diapering & Potty</option>
							<option>Milk Formula & Baby Food</option>
							<option>Baby Fashion</option>
							<option>Learning & Education</option>
							<option>Baby Personal Care</option>
							<option>Toys & Games</option>

							<option>Beverages & Chilled</option>
							<option>Canned & Dried Goods</option>
							<option>Kitchen Supplies</option>
							<option>Laundry Supplies</option>
							<option>Pet Accessories</option>
							<option>Pet Food & pet healthcare</option>
							<option>Fruit & Vegetables</option>

							<option>Kitchen & Dining</option>
							<option>Tools & Outdoor</option>
							<option>Bedding & Bath</option>
							<option>Home Décor & Furniture</option>
							<option>Stationery & Craft</option>
							<option>Media, Music & Books</option>
							<option>Laundry & Cleaning</option>

							<option>Women's Clothing</option>
							<option>Men's Clothing</option>
							<option>Jackets & Shirts</option>
							<option>Sweaters & Cardigans</option>
							<option>Skirts & Dresses</option>
							<option>Shoes</option>
							<option>Jeans & Shorts</option>

							<option>Men's Sports Shoes</option>
							<option>Women's Sports Shoes</option>
							<option>Outdoor Recreation</option>
							<option>Exercise & Fitness</option>
							<option>Boxing & Martial Arts</option>
							<option>Water Sports</option>
							<option>Sports Accessories</option>
						</datalist>
						</br>
					
					</ul>

		<section class="cart_area">
  <div class="container">
    <div class="cart_inner" id="cart-body">
      <div class="table-responsive">
         {{#if products}}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Status</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
     
            <tr id="item{{id}}">
              <td>
                <div class="media">
                  <div class="d-flex">
                    <img src="{{imagepath}}" alt="" height="85" width="75">
                  </div>
                  <div class="media-body">
                    <p>{{name}}</p>
                  </div>
                </div>
              </td>
              <td>
                <h5 id="price{{id}}">{{price}} VNĐ</h5>
              </td>
              <td>
                <div class="product_count">
                  <span>available</span>
                </div>
              </td>
              <style>
                .button-delete {
                  background-color: #0078fd;
                  color: white;
                  padding: 6px 17px;
                  border: none;
                  font-size: 13px;
                  border-radius: 6px;
                }
              </style>
             
              <td>
                <button type="button" class="button-delete" data-id="{{id}}">Delete</button>
              </td>
           
            </tr>
          
            {{/each}}
            {{else}}
            <div class="alert alert-info text-center"> Your store is empty!</div>
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<script>
    $(document).on('click', '.button-delete', function(e) {
  e.preventDefault();
  var productId = $(this).data('id');
  $.ajax({
    url: '/delete-product/' + productId,
    method: 'DELETE',
    success: function(response) {
      if (response.success) {
        $('#item' + productId).remove();
      } else {
        alert('Failed to delete product');
      }
    }
  });
});

</script>
		

